.DS_Store
.sublime-project
.sublime-workspace
.pyc
.idea
.vscode
*venv
**/.pytest_cache

*.fastq
.CondaPkg
*.fa*.txt

# Plots
*.png

data/raw_data/simulated_reads
data/experiments
deprecated

RunExperiment.jl
