.DS_Store
.sublime-project
.sublime-workspace
.pyc
.idea
.vscode
*venv
**/.pytest_cache

*.fastq
.CondaPkg
*.fa*.txt

# Plots
*.png

# mmaps
*.bin

# Faiss indices
*.faiss

# Models
*.jld2

data/raw_data/simulated_reads
data/latest_experiment
data/experiments
deprecated
